# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Secrets
*.pem
*.key

# Temporary files
tmp/
temp/